[webservers]

web-1   ansible_host=158.160.50.113 fqdn=fhm9mol680pblrm3vhvo.auto.internal
web-2   ansible_host=93.77.180.81 fqdn=fhm65oaergr8lt02no1u.auto.internal
[databases]

main   ansible_host=158.160.62.63 fqdn=fhmeiulr9h0fdcp1f1r4.auto.internal
replica   ansible_host=158.160.48.193 fqdn=fhml6p22k4aspj94sia8.auto.internal
[storage]

storage   ansible_host=111.88.255.103 fqdn=fhmlcbed5iru9618khn8.auto.internal